body {
    background-color: black;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
div#table {
    position: relative;
    margin: auto;
    width: 1024px;
    height: 863px;
    background: url("table.jpg") no-repeat;
}
div#messageArea {
    position: absolute;
    top: 0px;
    left: 0px;
    color: deepskyblue;
}
table {
    position: absolute;
    left: 173px;
    top: 98px;
    border: 1px solid white;
    border-spacing: 0px;
}
td {
    width: 94px;
    height: 94px;
    border: 1px solid white;
}
form {
    position: absolute;
    right: 0px;
    padding: 6px;
    background-color: gray;
}
form input {
    background-color: white;
    border-color: black;
    font-size: 18px;
}
input#fireButton {
    font-weight: bold;
    padding: 3px;
}
.hit {
    background: url("ship.png") no-repeat center;
}
.miss {
    background: url("miss.png") no-repeat center;
}